@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap");
.border2 {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: 16px;
  color: white;
  position: relative;
  font-family: "Shantell Sans", cursive;
}
.border2 .selectcircle {
  position: absolute;
  width: 8px;
  transform: translate(-50%, -50%);
  height: 8px;
  transition: 0.8s;
  animation: up infinite linear;
  animation-duration: 1.8s;
  -webkit-clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
          clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
}
@keyframes up {
  0% {
    width: 8px;
    height: 8px;
    transform: translateY(-10px);
  }
  25% {
    width: 15px;
    height: 15px;
    transform: translateY(-40px);
  }
  50% {
    width: 25px;
    height: 25px;
    transform: translateY(-60px);
  }
  75% {
    width: 30px;
    height: 30px;
    transform: translateY(-100px);
  }
  100% {
    width: 30px;
    height: 30px;
    transform: translateY(-150px);
  }
}
.border2 .border2top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: 16px;
  color: white;
  width: 70%;
  margin: 25px;
}
@media (max-width: 1000px) {
  .border2 .border2top {
    width: 90%;
  }
}
.border2 .border2top h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1.8em;
  color: white;
  padding: 20x;
  text-align: center;
}
.border2 .border2top h1 {
  text-align: center;
  padding: 20x;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 5.7em;
  color: white;
}
@media (max-width: 970px) {
  .border2 .border2top h1 {
    font-size: 4.8em;
  }
}
.border2 .border2bottom {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 16px;
  color: white;
  margin: 10px;
}
@media (max-width: 840px) {
  .border2 .border2bottom {
    flex-direction: column;
  }
}
.border2 .border2bottom .border2box1 {
  margin: 10px;
  width: 350px;
  transition: 0.8s;
  border-left: 1px solid white;
  border-right: 1px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: 16px;
  color: white;
}
.border2 .border2bottom .border2box1:hover .border2div1 {
  transform: scale(1.5);
}
.border2 .border2bottom .border2box1:hover .border2div1 .twobox1 .twobox2 {
  width: 80px;
  height: 80px;
  animation: rot infinite linear;
  animation-duration: 0.8s;
}
@keyframes rot {
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 840px) {
  .border2 .border2bottom .border2box1 {
    width: 90%;
    height: 400px;
  }
}
@media (max-width: 1062px) {
  .border2 .border2bottom .border2box1 {
    font-size: 13px;
  }
}
.border2 .border2bottom .border2box1 .border2div1 {
  width: 90%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 16px;
  color: white;
}
.border2 .border2bottom .border2box1 .border2div1 .twobox1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 16px;
  color: white;
  width: 90px;
  height: 90px;
  border: 1.5px solid white;
}
.border2 .border2bottom .border2box1 .border2div1 .twobox1 .twobox2 {
  width: 70px;
  transition: 0.7s;
  height: 70px;
  background-color: #5671DC;
}
.border2 .border2bottom .border2box1 .border2div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 3.3em;
  color: white;
  font-weight: 600;
  padding: 15px;
  margin: 10px;
  text-align: center;
}
.border2 .border2bottom .border2box1 .border2div3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1.8em;
  color: #6d83db;
  font-weight: 400;
  padding: 15px;
  margin: 10px;
  text-align: center;
}/*# sourceMappingURL=border2.css.map */