@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap");
@import './border2.css';
@import './border3.css';
* {
  box-sizing: border-box;
  margin: 0px;
}

.navbar {
  margin-left: 70px;
  width: 90vw;
  background-color: #101010;
  height: 70px;
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 16px;
  color: white;
}
.navbar .motion {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1.8em;
  color: white;
}
.navbar .bar {
  width: 75%;
  height: 95%;
  margin-left: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1.8em;
  color: white;
}
.navbar .bar .dd1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 0.7em;
  color: white;
  font-weight: 550;
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.navbar .bar .dd1:hover {
  color: gold;
}
@media (max-width: 996px) {
  .navbar .bar {
    display: none;
  }
}
.navbar .dd2 {
  display: none;
}
@media (max-width: 996px) {
  .navbar .dd2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 1.7em;
    color: white;
    margin-right: 40px;
  }
}

.border {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 16px;
  color: white;
  background-image: url("./src/pexels.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Josefin Sans", sans-serif;
}
.border .box1 {
  width: 70%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: 16px;
  color: white;
}
@media (max-width: 1285px) {
  .border .box1 {
    width: 85%;
  }
}
@media (max-width: 891px) {
  .border .box1 {
    width: 95%;
  }
}
@media (max-width: 820px) {
  .border .box1 {
    font-size: 13px;
  }
}
.border .box1 .markiting {
  width: 95%;
  height: 60%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: 4.5em;
  color: white;
}
@media (max-width: 640px) {
  .border .box1 .markiting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    font-size: 3.5em;
    color: white;
    height: 50%;
  }
}
.border .box1 .markiting h2 {
  color: #5671DC;
  text-transform: capitalize;
  font-weight: 900;
  text-shadow: 2px 1px 1px rgb(26, 25, 25), 4px 1px 1px rgb(20, 19, 19);
}
.border .box1 .markiting h2::before {
  content: "";
}
.border .box1 .lorem {
  width: 95%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1.9em;
  color: #bdc2d9;
  text-align: center;
}
.border .box1 .get {
  width: 95%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1.3em;
  color: white;
}
.border .box1 .get .direct {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1.3em;
  color: white;
  width: 250px;
  height: 80px;
  background: linear-gradient(to left, #4a6cf5, #536cd3, #738cf0);
  cursor: pointer;
  gap: 5px;
  transition: 0.5s;
}
.border .box1 .get .direct:hover {
  background: linear-gradient(to left, #2e57fa, #2a45b2, #738cf0);
}

.border1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 16px;
  color: white;
  background-color: #070606;
  position: relative;
}
.border1 .selectcircle {
  position: absolute;
  width: 8px;
  transform: translate(-50%, -50%);
  height: 8px;
  border-radius: 50%;
  transition: 0.8s;
  animation: up infinite linear;
  -webkit-clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
          clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
  animation-duration: 3.1s;
}
@keyframes up {
  0% {
    width: 8px;
    height: 8px;
    transform: translateY(-10px);
  }
  25% {
    width: 20px;
    height: 20px;
    transform: translateY(-60px);
  }
  50% {
    width: 25px;
    height: 25px;
    transform: translateY(-100px);
  }
  75% {
    width: 30px;
    height: 30px;
    transform: translateY(-150px);
  }
  100% {
    width: 35px;
    height: 35px;
    transform: translateY(-200px);
  }
}
.border1 .box2 {
  margin: 30px;
  width: 95%;
  height: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 16px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  position: relative;
}
@media (max-width: 1187px) {
  .border1 .box2 {
    width: 90%;
  }
}
.border1 .box2 .b1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: 16px;
  color: white;
  width: 350px;
  margin: 10px;
  height: 400px;
  background-color: #101010;
  transition: 0.6s;
  box-shadow: -8px 8px 1px 1px rgb(23, 22, 22) inset;
}
.border1 .box2 .b1:hover {
  transform: scale(1.1);
}
@media (max-width: 1023px) {
  .border1 .box2 .b1 {
    width: 85%;
    font-size: 1.4em;
  }
}
@media (max-width: 760px) {
  .border1 .box2 .b1 {
    font-size: 1em;
  }
}
.border1 .box2 .b1 .b1div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 2.6em;
  color: #4765de;
}
.border1 .box2 .b1 .b1div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 2.6em;
  color: white;
  font-weight: 700;
  padding: 10px;
  text-transform: capitalize;
  text-align: center;
}
.border1 .box2 .b1 .b1div3 {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1.7em;
  color: #6a8ae9;
}
.border1 .box2 .b1 .b1div4 {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 16px;
  color: white;
}
.border1 .box2 .b1 .b1div4 .circle1 {
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 16px;
  color: white;
}
.border1 .box2 .b1:nth-child(1) {
  box-shadow: -30px -30px 1px 1px #4061e4;
}
.border1 .box2 .b1:nth-child(6) {
  box-shadow: 30px 30px 1px 1px #4061e4;
}

.border4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 16px;
  color: white;
  background-color: #101010;
  position: relative;
}
.border4 .selectcircle {
  position: absolute;
  width: 8px;
  transform: translate(-50%, -50%);
  height: 8px;
  transition: 0.8s;
  animation: up infinite linear;
  animation-duration: 1.8s;
  -webkit-clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
          clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
}
@keyframes up {
  0% {
    width: 8px;
    height: 8px;
    transform: translateY(-10px);
  }
  25% {
    width: 15px;
    height: 15px;
    transform: translateY(-40px);
  }
  50% {
    width: 25px;
    height: 25px;
    transform: translateY(-60px);
  }
  75% {
    width: 30px;
    height: 30px;
    transform: translateY(-100px);
  }
  100% {
    width: 30px;
    height: 30px;
    transform: translateY(-150px);
  }
}
.border4 .border4box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 16px;
  color: white;
  margin: 15px;
}
.border4 .border4box .picbox {
  transition: 0.9s;
  position: relative;
  overflow: hidden;
}
.border4 .border4box .picbox .picboxx {
  position: absolute;
  width: 100%;
  transition: 0.7s;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.431);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1.5em;
  color: white;
  font-weight: 550;
  transform: translateY(500px);
}
.border4 .border4box .picbox .picboxx .para {
  color: white;
  font-size: 3em;
}
.border4 .border4box .picbox:hover {
  transform: scale(1.2);
}
.border4 .border4box .picbox:hover .picboxx {
  transform: translateY(0px);
}
@media (max-width: 1023px) {
  .border4 .border4box .picbox {
    width: 800px;
  }
}
@media (max-width: 950px) {
  .border4 .border4box .picbox {
    width: 600px;
  }
}
.border4 .border4box .pic1 {
  margin: 15px;
  width: 800px;
  height: 400px;
  background-image: url("./src/img_9.jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.border4 .border4box .pic2 {
  margin: 15px;
  width: 500px;
  height: 400px;
  background-image: url("./src/img_1.jpg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1023px) {
  .border4 .border4box .pic2 {
    width: 80%;
    background-position: center;
    height: 500px;
  }
}
.border4 .border4box .pic3 {
  margin: 15px;
  width: 350px;
  height: 300px;
  background-image: url("./src/img_3.jpg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1023px) {
  .border4 .border4box .pic3 {
    width: 80%;
    background-position: center;
    height: 500px;
  }
}
.border4 .border4box .pic4 {
  margin: 15px;
  width: 600px;
  height: 300px;
  background-image: url("./src/img_8.jpg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1023px) {
  .border4 .border4box .pic4 {
    width: 80%;
    background-position: center;
    height: 500px;
  }
}
.border4 .border4box .pic5 {
  margin: 15px;
  width: 350px;
  height: 300px;
  background-image: url("./src/mbr-2.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1023px) {
  .border4 .border4box .pic5 {
    width: 80%;
    background-position: center;
    height: 500px;
  }
}
.border4 .border4box .pic6 {
  margin: 15px;
  width: 300px;
  height: 300px;
  background-image: url("./src/img_7.jpg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1023px) {
  .border4 .border4box .pic6 {
    width: 80%;
    background-position: center;
    height: 500px;
  }
}
.border4 .border4box .pic7 {
  margin: 15px;
  width: 300px;
  height: 300px;
  background-image: url("./src/img_5.jpg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1023px) {
  .border4 .border4box .pic7 {
    width: 80%;
    background-position: center;
    height: 500px;
  }
}
.border4 .border4box .pic8 {
  margin: 15px;
  width: 350px;
  height: 300px;
  background-image: url("./src/img_4.jpg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1023px) {
  .border4 .border4box .pic8 {
    width: 80%;
    background-position: center;
    height: 500px;
  }
}
.border4 .border4box .pic9 {
  margin: 15px;
  width: 350px;
  height: 300px;
  background-image: url("./src/pexels.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1023px) {
  .border4 .border4box .pic9 {
    width: 80%;
    background-position: center;
    height: 500px;
  }
}
.border4 .border4box .pic10 {
  margin: 15px;
  width: 350px;
  height: 300px;
  background-image: url("./src/img_8.jpg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1023px) {
  .border4 .border4box .pic10 {
    width: 80%;
    background-position: center;
    height: 500px;
  }
}
.border4 .border4box .pic11 {
  margin: 15px;
  width: 350px;
  height: 300px;
  background-image: url("./src/img_3.jpg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1023px) {
  .border4 .border4box .pic11 {
    width: 80%;
    background-position: center;
    height: 500px;
  }
}
.border4 .border4box .pic12 {
  margin: 15px;
  width: 500px;
  height: 300px;
  background-image: url("./src/img_6.jpg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1023px) {
  .border4 .border4box .pic12 {
    width: 80%;
    background-position: center;
    height: 500px;
  }
}
.border4 .border4box .pic13 {
  margin: 15px;
  width: 650px;
  height: 300px;
  background-image: url("./src/pexels-arshad-sutar-1749303.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1023px) {
  .border4 .border4box .pic13 {
    width: 80%;
    background-position: center;
    height: 500px;
  }
}
.border4 .border4box .pic14 {
  margin: 15px;
  width: 550px;
  height: 300px;
  background-image: url("./src/img_4.jpg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1023px) {
  .border4 .border4box .pic14 {
    width: 80%;
    background-position: center;
    height: 500px;
  }
}
.border4 .border4box .pic15 {
  margin: 15px;
  width: 550px;
  height: 300px;
  background-image: url("./src/mbr1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1023px) {
  .border4 .border4box .pic15 {
    width: 80%;
    background-position: center;
    height: 500px;
  }
}
.border4 .border4box .pic16 {
  margin: 15px;
  width: 550px;
  height: 300px;
  background-image: url("./src/pexels-arshad-sutar-1749303.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1023px) {
  .border4 .border4box .pic16 {
    width: 80%;
    background-position: center;
    height: 500px;
  }
}

.border5 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: 16px;
  color: white;
  gap: 10px;
  background-image: url("./src/pexels-arist-creathrive-2307636.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.border5 .selectcircle1 {
  width: 8px;
  height: 8px;
  background-image: radial-gradient(rgb(38, 115, 247), rgb(165, 165, 190), rgb(57, 112, 221));
  position: absolute;
  transform: translate(-50%, -50%);
  animation: movee infinite linear;
  animation-duration: 3.2s;
  border-radius: 50%;
  transition: 0.8s;
}
@keyframes movee {
  0% {
    width: 10px;
    height: 10px;
    transform: translateY(-10px);
  }
  25% {
    width: 16px;
    height: 16px;
    box-shadow: -5px -5px 1px 1px rgb(38, 115, 247), 5px -5px 1px 1px rgb(38, 115, 247);
    transform: translateY(-60px);
  }
  50% {
    width: 16px;
    height: 16px;
    box-shadow: -15px -15px 1px 1px rgb(38, 115, 247), 15px -15px 1px 1px rgb(38, 115, 247);
    transform: translateY(-120px);
  }
  75% {
    width: 16px;
    height: 16px;
    box-shadow: -20px -20px 1px 1px rgb(38, 115, 247), 20px -20px 1px 1px rgb(38, 115, 247);
    transform: translateY(-160px);
  }
  100% {
    width: 16px;
    height: 16px;
    box-shadow: -25px -25px 1px 1px rgb(38, 115, 247), 25px -25px 1px 1px rgb(38, 115, 247);
    transform: translateY(-200px);
  }
}
.border5 .border5top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 2.6em;
  color: white;
  width: 80%;
  height: 15%;
}
.border5 .border5top .span1 {
  font-weight: 600;
}
.border5 .border5bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 16px;
  color: white;
  width: 80%;
  height: 80%;
}
.border5 .border5bottom .border5box {
  width: 85%;
  height: 90%;
  border: 1px solid rgba(0, 0, 0, 0.371);
  background-color: rgba(16, 16, 16, 0.3176470588);
  border-bottom-left-radius: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: 16px;
  color: white;
}
@media (max-width: 1023px) {
  .border5 .border5bottom .border5box {
    width: 95%;
    height: 70%;
  }
}
.border5 .border5bottom .border5box .div1 {
  width: 80%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 16px;
  color: white;
}
.border5 .border5bottom .border5box .div1 .inp1 {
  width: 75%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.487);
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
}
@media (max-width: 1023px) {
  .border5 .border5bottom .border5box .div1 .inp1 {
    width: 90%;
  }
}
.border5 .border5bottom .border5box .div1 .inp1::-moz-placeholder {
  color: white;
}
.border5 .border5bottom .border5box .div1 .inp1::placeholder {
  color: white;
}
.border5 .border5bottom .border5box .div1 .inp1:focus {
  background-color: rgba(0, 0, 0, 0.816);
}
.border5 .border5bottom .border5box .div1:nth-child(4) {
  height: 35%;
}

.border6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: 16px;
  color: white;
  height: 100vh;
  background-color: #101010;
}
.border6 .border6top {
  width: 75%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: 2em;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}
.border6 .border6bottom {
  width: 85%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 1.2em;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}
.border6 .border6bottom .box4 {
  width: 23.75%;
  height: 45%;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: 16px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.427);
  border-bottom-left-radius: 20%;
  transition: 0.8s;
}
.border6 .border6bottom .box4:hover .icondiv1,
.border6 .border6bottom .box4:hover .border6div1 {
  color: #4a6cf5;
}
.border6 .border6bottom .box4 .icondiv1 {
  width: 98%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 4em;
  color: white;
  transition: 0.8s;
}
.border6 .border6bottom .box4 .border6div1 {
  width: 98%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 2.3em;
  color: white;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
  transition: 0.8s;
}
.border6 .border6bottom .box4 .border6div1:hover {
  color: #4a6cf5;
}
@media (max-width: 950px) {
  .border6 .border6bottom .box4 .border6div1 {
    font-size: 1.8em;
  }
}
@media (max-width: 1286px) {
  .border6 .border6bottom .box4 {
    width: 45%;
  }
}/*# sourceMappingURL=index.css.map */