@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap');
@import './border2.css';
@import './border3.css';

* {
    box-sizing: border-box;
    margin: 0px;
}

@mixin dis($dis: flex, $jus: center, $align: center, $wrap: nowrap, $flex: row, $fontsize: 16px, $color: white) {
    display: $dis;
    justify-content: $jus;
    align-items: $align;
    flex-wrap: $wrap;
    flex-direction: $flex ;
    font-size: $fontsize ;
    color: $color;
}

.navbar {
    margin-left: 70px;
    width: 90vw;
    background-color: #101010;
    height: 70px;
    position: fixed;
    z-index: 5;
    // border: 1px solid white;
    @include dis($jus: space-between);

    .motion {
        margin-left: 15px;
        @include dis($fontsize: 1.8em);
    }

    .bar {
        width: 75%;
        height: 95%;
        // border: 1px solid white;
        margin-left: 15px;
        @include dis($fontsize: 1.8em, $jus: space-around);

        .dd1 {
            @include dis($fontsize: 0.7em);
            font-weight: 550;

            padding: 10px;
            border: 1px solid black;
            transition: 0.5s;
            cursor: pointer;




        }
    }
}

.border {
    height: 100vh;
    // border: 1px solid black;
    @include dis;
    background-image: url('./src/pexels.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Josefin Sans', sans-serif;

    .box1 {
        width: 70%;
        height: 90%;
        // border: 1px solid white;
        @include dis($flex: column, $jus: space-around);

        @media(max-width:1285px) {
            width: 85%;
        }

        @media(max-width:891px) {
            width: 95%;
        }

        @media(max-width:820px) {
            font-size: 13px;
        }

        .markiting {
            width: 95%;
            height: 60%;
            padding: 10px;
            // border: 1px solid white;
            @include dis($fontsize: 4.5em, $flex: column);

            @media(max-width:640px) {
                @include dis($fontsize: 3.5em, $flex: column);
                height: 50%;
            }

            h2 {
                color: #5671DC;
                text-transform: capitalize;
                font-weight: 900;
                text-shadow: 2px 1px 1px rgb(26, 25, 25), 4px 1px 1px rgb(20, 19, 19);

                &::before {
                    content: '';
                }
            }

        }

        .lorem {
            width: 95%;
            height: 20%;
            // border: 1px solid white;
            @include dis($fontsize: 1.9em, $color: #bdc2d9);
            text-align: center;

        }

        .get {
            width: 95%;
            height: 15%;
            // border: 1px solid white;
            @include dis($fontsize: 1.3em);




            .direct {
                @include dis($fontsize: 1.3em, $jus: space-evenly);
                width: 250px;
                height: 80px;
                background: linear-gradient(to left, #4a6cf5, #536cd3, #738cf0);
                cursor: pointer;
                // border: 1px solid #738cf0;
                gap: 5px;
                transition: 0.5s;

                &:hover {
                    background: linear-gradient(to left, #2e57fa, #2a45b2, #738cf0);
                }
            }
        }
    }

}

.border1 {
    @include dis;
    // height: 100vh;
    background-color: #070606;
    position: relative;

    .selectcircle {
        position: absolute;
        width: 8px;
        transform: translate(-50%, -50%);
        height: 8px;
        border-radius: 50%;
        transition: 0.8s;
        animation: up infinite linear;
        animation-duration: 1.8s;
        // background-color: #5671DC;
    }

    @keyframes up {
        100% {
            transform: translateY(-100px);
        }

    }

    .box2 {
        margin: 30px;
        width: 95%;
        height: 85%;
        @include dis($jus: space-evenly, $wrap: wrap);
        // border: 1px solid white;
        font-family: 'Josefin Sans', sans-serif;
        position: relative;

        @media(max-width:1187px) {
            width: 90%;
        }

        .b1 {
            @include dis($flex: column, $jus: space-around);
            // border: 1px solid white;
            width: 350px;
            margin: 10px;
            height: 400px;
            background-color: #101010;
            transition: 0.6s;
            box-shadow: -8px 8px 1px 1px rgb(23, 22, 22) inset;

            &:hover {

                // background: linear-gradient(to left, #2e57fa, #2a45b2, #738cf0);
                transform: scale(1.1);



            }

            @media(max-width:1187px) {
                width: 400px;
            }

            @media(max-width:952px) {
                width: 650px;
            }


            .b1div1 {
                @include dis($fontsize: 2.6em, $color: #4765de);
            }

            .b1div2 {
                @include dis($fontsize: 2.6em, $color: white);
                font-weight: 700;
                padding: 10px;
                text-transform: capitalize;
                text-align: center;
            }

            .b1div3 {
                padding: 10px;
                text-align: center;
                @include dis($fontsize: 1.7em, $color: #6a8ae9);
            }

            .b1div4 {
                padding: 10px;
                @include dis;

                .circle1 {
                    padding: 10px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 1px solid white;
                    @include dis;
                }
            }
        }

        .b1:nth-child(1) {
            box-shadow: -30px -30px 1px 1px #4061e4;
        }

        .b1:nth-child(6) {
            box-shadow: 30px 30px 1px 1px #4061e4;
        }
    }
}

.border4 {
    height: 100vh;
    border: 2px solid black;


}